# Ignore the virtual environment
notes_venv/
.venv/
private_key.pem

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging stuff (optional)
build/
dist/
*.egg-info/
.eggs/

# VSCode or IDE settings (optional)
.vscode/
.idea/
