@font-face {
    font-family: 'GameOfSquids';
    src: url('fonts/GameOfSquids.ttf') format('truetype'),
         url('fonts/GameOfSquids.otf') format('opentype');
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body{
    background-image: linear-gradient(to bottom, #0043a0, rgba(204, 204, 204, 0.663)); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h1, h3, p, a, img, label{
    color: aliceblue; 
    text-shadow: 0 0 10px aliceblue; 
    font-weight: 1;
}

.landing{
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    position: relative;
    top: -100px;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.name{
    letter-spacing: 5px;
    font-size: 8rem;
    margin-bottom: 0;
}

.slogan{
    margin-top: -15px;
    font-size: 2rem;
}

.name, .slogan{
    text-align: center;
    transition: .2s;
    transition-timing-function: ease;
}

button {
    border-radius:20px;

}

.name, .logo-name, .slogan{
    font-family: 'GameOfSquids';
}

.logo-name{
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    position: relative;
    display: flex;
    align-items: center;    
    margin-top: 1rem;
}

.logo-name a{
    text-decoration: none;
    font-weight: 1;
    font-size: 1.6rem;
}

.logo-name img{
    margin-left: 24px;
    padding-right: 16px;
    width: 50px;
}


@keyframes fadeIn {
    100% {opacity: 100%; transform: translateY(10px);}
}