@font-face {
    font-family: 'Japanese 3017';
    src: url('fonts/GameOfSquids.ttf') format('truetype'),
         url('fonts/GameOfSquids.otf') format('opentype');
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #002c58, #dbdfe2); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
    font-family: Arial, sans-serif;
}


.name{
    text-align: center;
    font-family: 'Japanese 3017';
    font-size: 4.5rem;
    margin-bottom: 0;
}

.slogan{
    text-align: center;
}

.buttons{
    text-align: center;
    margin-top: 2rem;
}