<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo-name">
            <img src="static/images/icons8-cloud-96.png" alt="logo.png">
            <a href="idx">CLOUD VAULT</a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="about">ABOUT</a></li>
                <li><a href="uploading">UPLOAD</a></li> 
              </ul>
        </div>
    </nav>
    <header class = about-title>
        <div class = "title"></div>
            <h>ABOUT</h>
        </div>
    </header>
    <section>
        <div class = "about-content">
            <p> Cloud vault is a file uploading platform designed to provide a seamless and intuitive experience for managing documents. 
                This application allows users to safely and securely upload a variety of files, including PNG, JPG, and PDF. 
                A robust python script using Flask ensures secure communication between the HTTPS reinforced backend and the user friendly frontend. 
                The docker container running ChainGuard’s WOLFI OS leverages our security systems, ensuring that every uploaded file is handled within a lightweight and secure environment.  
                Cloud Vault mitigates potential risks associated with file uploads, such as malicious content and unrestricted file access, via file type verification and restricted access control.
            </p>
        </div>
    </section>
</body>
</html>