<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo-name">
            <img src="static/images/icons8-cloud-96.png" alt="logo.png">
            <a href="idx">CLOUD VAULT</a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="about">ABOUT</a></li>
                <li><a href="uploading">UPLOAD</a></li> 
              </ul>
        </div>
    </nav>
        <header class = about-title>
            <div class = "title"></div>
                <h>ABOUT</h>
            </div>
        </header>
        <section>
            <div class = "about-content"></div>
                <p> A simple and easy-to-use application that allows for the storage of files in a secure manner 
                    CloudVault is designed to be user-friendly and intuitive, with a clean and modern interface that makes it easy to navigate and use
                </p>
        </section>
</body>
</html>