html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body{
    background-image: linear-gradient(to bottom, #0043a0, rgba(204, 204, 204, 0.663)); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}