@font-face {
    font-family: 'GameOfSquids';
    src: url('fonts/GameOfSquids.ttf') format('truetype'),
         url('fonts/GameOfSquids.otf') format('opentype');
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body{
    background-image: linear-gradient(to bottom, #0043a0, rgba(204, 204, 204, 0.663)); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h1, h3, p, a, img, label{
    color: aliceblue; 
    text-shadow: 0 0 10px aliceblue; 
    font-weight: 1;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}

.landing{
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    position: relative;
    top: -100px;
    text-align: center;
}

.name{
    letter-spacing: 5px;
    font-size: 7rem;
    margin-bottom: 0;
}

.slogan{
    margin-top: -15px;
    font-size: 1.7rem;
}

.name, .slogan{
    text-align: center;
    transition: .2s;
    transition-timing-function: ease;
}

.name, .logo-name, .slogan{
    font-family: 'GameOfSquids';
}