<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="stylesheet" href="static/styles/navbar.css">
    <title>CloudVault</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo-name">
            <img src="static/icons/icons8-cloud-96.png" alt="logo.png">
            <a href="idx">CLOUD VAULT</a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="about">ABOUT</a></li>
                <li><a href="uploading">UPLOAD</a></li> 
            </ul>
        </div>
    </nav>
    <main>
        <section>
            <div class="landing">
                <h1 class="name">CLOUD VAULT</h1>
                <h3 class="slogan">A SECLUDED SERENITY ABOVE THE SKIES</h3>
            <div>
        </section>
    </main>
</body>
</html>
