<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles\styles.css">
    <title>CloudVault</title>
</head>
<body>
    <!--Name, slogan & menu at center of page-->
    <header>
        <div class="landing">
            <h1 class="name">CloudVault</h1>
            <h3 class="slogan">A secluded serenity above the skies</h3>
        <div>
        <div class="buttons">
            <a href=""><button>About</button></a>
            <a href="pages"><button>Upload</button></a>
        </div>
    </header>
</body>
</html>
