html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #002c58, #dbdfe2); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
    font-family: Arial, sans-serif;
}


.name{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0;
}

.slogan{
    text-align: center;
}
